<div [ngFormModel]="form" class="form-group">
    <label [attr.for]="element.key">{{element.label}}</label>

    <div [ngSwitch]="element.controlType">
        <input *ngSwitchWhen="'textbox'" [ngControl]="element.key" placeholder="element.placeholder"
               [id]="element.key" [type]="element.type" class="form-control box-shadow"
               [ngClass]="{ 'has-error' : !isValid && submitAttempt}">

        <input *ngSwitchWhen="'password'" [ngControl]="element.key" placeholder="element.placeholder"
               [id]="element.key" [type]="element.type" [ngClass]="{ 'has-error' : !isValid && submitAttempt}">

        <select [id]="element.key" *ngSwitchWhen="'dropdown'" [ngControl]="element.key">
            <option *ngFor="let opt of element.options" [value]="opt.key">{{opt.value}}</option>
        </select>
    </div>

    <div *ngIf="!isValid" class="alert alert-danger">
        {{element.label}} is required
    </div>
</div>