<div class="container">
    <img src="../../public/images/lena_about.jpg"
         class="img-circle img-responsive center-block" alt="image" widht="100px">
    <br>

    <div class="text-center text-justify">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ornare arcu nec tellus convallis rhoncus.
            Morbi et ornare arcu. Vivamus faucibus eleifend justo, vestibulum venenatis lectus fermentum in. Etiam
            varius,
            ex feugiat condimentum pellentesque, mauris quam viverra nisl, vitae elementum mi ipsum vel magna. Aliquam
            lorem
            elit, suscipit sed massa tincidunt, dapibus rhoncus libero. Ut tincidunt diam ut elit iaculis, in finibus
            purus
            elementum. Morbi suscipit non magna convallis consequat. Donec fermentum quam a laoreet lobortis. Quisque
            fermentum, ante sed sodales gravida, augue eros cursus mi, ac aliquam sapien tortor et lorem. Duis iaculis
            non
            neque in molestie. Sed sollicitudin vel est ut maximus. Aliquam aliquet, tellus sit amet ultrices rutrum,
            est
            felis varius lectus, quis accumsan purus magna et elit. Praesent sollicitudin risus nec enim mollis
            interdum.
            Vivamus lacinia eros ligula, quis aliquam enim posuere sed. Mauris sed viverra mi.
        </p>
    </div>
</div>